<table mat-table [dataSource]="pictures">
    <!-- Picture Column -->
    <ng-container matColumnDef="picture">
      <th mat-header-cell *matHeaderCellDef> Picture </th>
      <td mat-cell *matCellDef="let picture">
        <img [src]="picture.picture" width="100" height="100" (click)="openPictureDialog(picture.picture)">
      </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let picture"> {{ picture.name }} </td>
    </ng-container>
  
    <!-- Resolution Column -->
    <ng-container matColumnDef="resolution">
      <th mat-header-cell *matHeaderCellDef> Resolution </th>
      <td mat-cell *matCellDef="let picture"> {{ picture.resolution }} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="['picture', 'name', 'resolution']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['picture', 'name', 'resolution'];"></tr>
  </table>
  