<!-- picture-info-dialog.component.html -->
<h2 mat-dialog-title>Picture Information</h2>
<div mat-dialog-content>
    <form [formGroup]="upload" (ngSubmit)="onSubmit()" >
        <mat-form-field>
            <input matInput placeholder="Name" formControlName="name" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Resolution" formControlName="resolution" required>
        </mat-form-field>
        <input type="hidden" formControlName="picture"> <!-- Hidden input for picture data -->
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button type="submit" [mat-dialog-close]="upload.valid ? upload.value : null">Save</button>
    <button mat-button (click)="closeDialog()">Cancel</button>
</div>